@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  color: white;
}

/* Remove duplicate body style since it's already defined above */